<app-navbar></app-navbar>

<div class="content">
    <div class="container1">
        <div class="row">
            <div class="info1">
                <p class="contact">Contact us</p>
                <p class="text"> We are all cat persons, so if you got any question, drop it <br> 
                    below and we will contact you back!
                </p>
                <div class="name">
                    <div class="row-name">
                        <p class="TextName">Your Full Name</p>
                        <input type="text" id="nameInput" placeholder="Type your name">
                    </div>
                </div>
                <div class="name">
                    <div class="row-name">
                        <p class="TextName">Your Email</p>
                        <input type="text" id="emailInput" placeholder="Type your email">
                    </div>
                </div>
            </div>
            <div class="info2">
                <div class="cpc">
                    <div class="city">
                        <p>City</p>
                        <input type="text" id="cityInput" placeholder="ex.Thessaloniki">
                    </div>
                    <div class="postal">
                        <p>Postal Code</p>
                        <input type="number" id="postalInput" placeholder="ex.54658">
                    </div>
                </div>
                <div class="address">
                    <p>Address</p>
                    <input type="text" id="addressInput" placeholder="ex.Thessaloniki">
                </div>
                <div class="message">
                    <p>Your Message</p>
                    <p id="optional">Optional</p>
                    <input type="text" id="messageInput" placeholder="Type your message">
                </div>
                <div class="terms">
                    <img src='../assets/box.png' alt="Logo">
                    <p>I agree with the Terms & Conditions</p>
                </div>
                <button class="send">Send!</button>
            </div>
        </div>
        <div class="row">
         <img src='../assets/map.png'class="map" alt="Logo">
         <p class="headquarters">Headquarters</p>
         <p class="infoAddress">Aristotelous 16, 54658<br>Thessaloniki, Greece</p>
         <p class="infoContact">+30 231 129 0998<br>hey&#64;smellycat.gr</p>
        </div>
    </div>
</div>

<app-footage></app-footage>


