.content{
    background-color: #eff1f4;
    top: 48px;
    height: 1227px;
    width: 100%;
}

.container1{
    margin: 0 120px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.row{
    display: inline-block;
    margin: 0;
}

.contact{
    margin-top: 80px;
    font-size: 40px;
    font-weight:bolder;
}

.text{
    margin-top: 24px;
    font-size: 18px;
    font-weight:600;
}

.row-name{
    margin-top:40px;
}

.TextName{
    display: inline-block;
    color: #000000;
    font-size: 14px;
    font-weight:600;
}

input{
    position: relative;
    height: 40px;
    border-radius: 5px;
    border:1px solid rgb(204, 204, 204);
}

input::placeholder{
    padding-left: 16px;
    color: #A0A9BA;
    font-size: 16px;
    font-weight: 300px;
}

#nameInput{
    width:357px;
    left: 24px;
}

#emailInput{
    width:357px;
    left: 52px;
}

.info1{
    padding: 0;
    padding-bottom: 42px;
    width: 476px;
    border-bottom: 2px solid #D8D8D8;
}

.info2{
    padding: 0;
    margin-top: 40px;
    height: 500px;
}

.cpc{
    height: 67px;
}


.city{
    display: inline-block;
}


.city, .postal, .address, .message{
    p{
    color: #000000;
    font-size: 14px;
    font-weight:600;
    padding-bottom: 8px;
    margin: 0px;
    }
}




.city,.postal input{
    width:172px;
}

.postal{
    position: relative;
    display: inline-block;
    left: 132px;
}

.address{
    display: block;
    padding-top: 28px;
    margin: 0;
}

.address input{
    width:288px;
}

.message{
    padding-top: 36px;
}

.message input{
    display: block;
    width: 476px;
    height:168px
}

.message input::placeholder{
    position: absolute;
    top:8px;
}

.message p{
    display: inline-block;
}

#optional{
    display: inline-block;
    position: relative;
    margin-left: 330px;
    color: #9784FF;
    font-size: 14px;
    font-weight:600;
    text-decoration: none;
}

.terms{
    display: block;
    position: relative;
    padding-top: 26px;

    img{
        display: inline-block;
        cursor: pointer;
    }

    p{
        display: inline-block;
        color: #555555;
        padding-left:16px;
        margin: 0;
        font-size: 14px;
        font-weight:300;
    }
}


.send{
    width:169px;
    height:48px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #EF7878;
    font-size: 20px;
    font-weight: bold;
    margin-top: 46px;
    border: 0px;
}

.send:hover{
    opacity: 0.85;
}

.send:active{
    opacity:1;
}

#map{
    width:515px;
    height:425px;
    margin-top: 160px;
    padding: 0;
}

.headquarters{
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 48px;
    font-size: 24px;
    font-weight: bold;
    justify-content: end;
    color: #000000;
}

.infoAddress{
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 24px;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    justify-content: end;
    color: #000000;
}

.infoContact{
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 24px;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    justify-content: end;
    color: #000000;
}


@media (max-width: 1125px) {
    #map{
        width: 370px;
        margin-left: 20px;
    }
}



@media (max-width: 1000px) {
    .content {
        height: 2000px;
    }
    .container1 {
        margin: 0 30px;
        padding: 0px;
        flex-direction: column;
    }
    .row {
        display: block;
        text-align: center;
    }
    .info1, .info2 {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .TextName, .city, .postal, .address {
        position: relative;
        display: block; 
        left: 0px;
        text-align: center; 
        input {
            width: 250px;
            display: block;
            margin: 0 auto; 
        }
    }
    .city p {
        width:250px;
        justify-content: center;
        margin: 0; 
    }
    #messageInput {
        width: 250px;
    }
    #nameInput, #emailInput {
        width: 250px;
        left: 0px;
    }
    .postal {
        padding-top: 32px;
    }
    .address {
        padding-top: 130px;
        input {
            width: 250px;
        }
    }
    #optional {
        display: inline-block;
        margin-left: -60px;
    }


    #map {
        margin-left: 5px;
        margin-top: 200px;
    }
    .headquarters, .infoAddress, .infoContact {
        justify-content: center;
        text-align: center;
    }
    .map-content {
        display: flex;
        justify-content: center;
    }
    .message input {
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
    .message p{
        width: 250px;
        margin: 0;
    }

    .cpc {
        text-align: center;
    }
}
