nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0 120px;
    height: 48px;
    border-bottom: 1px solid #A0A9BA;
}

.navbar-brand{
  padding: 0;
}

.nav-button {
    background-color: #ffffff;
    border: none;
    padding: 10px 20px;
    color: #555555;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 14px;
    font-family: 'Manrope';
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s;
  }

  .nav-button:hover{
    background-color: #ef7878;
    color: #ffffff;
  }


.navbar-menu-button {
  display: none;
  position: absolute;
  font-size: 25px;
  cursor: pointer;
  color: #ef7878;
  right: 20px;
}

.navbar-mobile-menu {
  display: none;
  flex-direction: column;
  position: fixed; 
  top: 48px;
  right: 0;
  height: 340px;
  width: 250px; 
  background-color: rgb(150, 148, 148, 0.6);
  padding: 1em;
  border-radius: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  backdrop-filter: blur(2px);
}

.navbar-mobile-menu.show {
  display: flex;
  transform: translateX(0);
}

.navbar-mobile-menu .nav-button {
  
  margin: 10px;
}

/* Responsive styles */
@media (max-width: 1000px) {
  .navbar-buttons {
    display: none;
  }
  .navbar-menu-button {
    display: block;
  }

  nav{
    padding:0; 
    justify-content: center;
  }

  .navbar-brand{
    margin-left: 0%;
  }

  
}