<div class="content">
    <div class="footage">
        <img src="../../assets/logofootage.png" alt="Logo">
        <div class="info">
            <a href="">Privacy Policy</a>
            <a href="">Terms & Conditions</a>
            <a href="">Blog</a>
            <a href="">Support</a>
        </div>
        <div class="logos">
            <img src="../../assets/logo1.png" alt="Logo">
            <img src="../../assets/logo2.png" alt="Logo">
            <img src="../../assets/logo3.png" class="instagram" alt="Logo">
        </div>
    </div>
    <div class="copyright">
        <p>Copyright &#169; SmellyCat 2020</p>
    </div>
</div>